<html>
  <head>
    <script>
    var ws = new WebSocket(<!--rinline wsUrl -->)
    </script>
  </head>
  <body>
    <h3>Send Message</h3>
    <form action="" onsubmit="sendInput(); return false">
    <input type="text" id="input"/>
  </body>
</html>
